body {
    background-image: url('paysage.jpg');
    background-size: cover;
    font-family: Calibri;
    font-size: 2em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #00144e49;
    color: #00144e;
    display: flex;
    /* position: sticky;
    top: 10px; */
}

.navbar a {
    display: block;
    color: inherit;
    padding: 10px 20px;
}

.navbar a:hover {
    color: white;
    background-color: #00144e;
}

.navbar-dropdown {
    position: relative;
}

.navbar-dropdown > ul {
    background-color: #00144e49;
    position: absolute;
    left: -9999px;
    top: -9999px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 1s;
}

.navbar-dropdown:hover > ul {
    left: 0;
    top: initial;
    opacity: 1;
}